.contenedor {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

h1 {
  font-weight: bolder;
  color: chocolate;
  text-decoration: underline;
  text-align: center;
}

h2 {
  font-weight: bold;
  color: brown;
}

p {
  max-width: 50%;

}

h3 {
  font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
  font-style: oblique;
  color: coral;
}

.img-parrafo{
  max-width: 150px;
  align-items: center;
}